<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<title>Wisdom Pages: Buy books</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <link rel="stylesheet" href="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'node_modules/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'node_modules/bootstrap-social/bootstrap-social.css' %}">
    <link rel="stylesheet" href="{% static 'sh_css/style.css' %}">
 	
</head>
<body>
	<nav class="navbar navbar-dark navbar-expand-sm fixed-top">
		<div class="container">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
				<span class="navbar-toggler-icon"></span>
             </button>
             <a class="navbar-brand mr-auto" href="wisdom.html"><img src="{% static 'sh_images/logo.png' %}" height="30" width="35"></a>
             <div class="collapse navbar-collapse" id="Navbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link" href="{% url 'about_us' %}"><span class="fa fa-info fa-lg"></span>About</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'contact_us' %}"><span class="fa fa-address-card fa-lg"></span>Contact</a></li>
                </ul>
                <span class="navbar-text ml-auto">
                    <a role="button" id="signupbutton" href="/">
                        <span class="fa fa-sign-out"></span>Sign out
                    </a>
                </span>
            </div> 
		</div>
	</nav>
</body>