<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<title>Wisdom Pages: Contact us</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <link rel="stylesheet" href="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'node_modules/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'node_modules/bootstrap-social/bootstrap-social.css' %}">
    <link rel="stylesheet" href="{% static 'sh_css/style.css' %}">
 	
</head>
<body>
	<nav class="navbar navbar-dark navbar-expand-sm fixed-top">
		<div class="container">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
				<span class="navbar-toggler-icon"></span>
             </button>
             <a class="navbar-brand mr-auto" href="{% url 'index' %}"><img src="{% static 'sh_images/logo.png' %}" height="30" width="35"></a>
             <div class="collapse navbar-collapse" id="Navbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link" href="{% url 'index' %}"><span class="fa fa-home fa-lg"></span> Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'about_us' %}"><span class="fa fa-info fa-lg"></span> About</a></li>
                    <li class="nav-item active"><a class="nav-link" href="{% url 'contact_us' %}"><span class="fa fa-address-card fa-lg"></span> Contact</a></li>
                </ul>
             </div>
		</div>
	</nav>

    <div id="feedbackModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg" role="content">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Feedback Submitted</h4>
                    <button type="button" class="close text-light" data-dismiss="modal">
                        &times;
                    </button>
                </div>
                <div class="modal-body">
                    <center><h5>Your feedback has been submitted successfully.</h5>
                    <h5>Thank you for your response:)</h5>
                    <button type="button" class="btn btn-secondary btn-sm ml-auto" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary btn-sm ml-1"><a href="contactus.html" class="text-light">Okay</a></button></center>       
                </div>
            </div>
        </div>
    </div>

	<header>
		<div class="jumbotron">
			<div class="container">
				<div class="row row-header">
                	<div class="col-12 col-sm-9">
                        <h1>Wisdom Pages</h1>
                        <p>We provide you the single medium for purchasing, selling, renting and reading books as well as enchance you with the updates of latest news and current affairs. You can explore different types of books as well as read them online and you can sell your books or rent them on our platform with complete reliability.</p>
                    </div>
                    <div class="col-12 col-sm-3 align-self-center">
                        <img src="{% static 'sh_images/logo.png' %}" height="150" width="180">
                    </div>
            	</div>
			</div>
		</div>
	</header>

    <div class="container">
        <div class="row">
            <ol class="col-12 breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                <li class="breadcrumb-item active">Contact Us</li>
            </ol>
            <div class="col-12">
               <h3>Contact Us</h3>
               <hr>
            </div>
        </div>
        <div class="row row-content">
            <div class="col-12">
                <h3>Send us your Feedback</h3>
            </div>
            <div class="col-12 col-md-9">
                <form method="post" action="{% url 'Feedback_user' %}">
                    {% csrf_token %}
                    <div class="form-group row">
                        <label for="firstname" class="col-md-2 col-form-label">First Name</label>
                        <div class="col-md-10">
                            <input type="text" required class="form-control" id="firstname" name="firstname" placeholder="First Name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="lastname" class="col-md-2 col-form-label">Last Name</label>
                        <div class="col-md-10">
                            <input type="text" required class="form-control" id="lastname" name="lastname" placeholder="Last Name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="telnum" class=" col-12 col-md-2 col-form-label">Contact Tel.</label>
                        <div class="col-5 col-md-3">
<!--                            <input type="tel" class="form-control" id="areacode" name="areacode" placeholder="Area code">-->
                            <input name="areacode" disabled id="areacode" value="+91" class="form-control">
                        </div>
                        <div class="col-7 col-md-7">
                            <input type="tel" class="form-control" id="telnum" name="telnum" placeholder="Tel. Number">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email" class="col-md-2 col-form-label">Email</label>
                        <div class="col-md-10">
                            <input type="email" required class="form-control" id="email" name="email" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6 offset-md-2">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" name="approve" id="approve">
                                <label class="form-check-label" for="approve">
                                    <strong>May we contact you?</strong>
                                </label>
                            </div>
                        </div>
                        <div class="col-md-3 offset-md-1">
                            <select class="form-control" name="select1">
                                <option value="Tel">Tel.</option>
                                <option value="Email">Email</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="feedback" class="col-md-2 col-form-label">Your Feedback</label>
                        <div class="col-md-10">
                            <textarea required class="form-control" id="feedback" name="feedback" rows="12"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="offset-md-2 col-md-10">
                            <button type="submit" class="btn btn-primary">Send Feedback</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    
        <div class="row row-content">
            <div class="col-12 col-sm-3">
                <h3>Contact us at:</h3>
            </div>
            <div class="col-12 col-sm-4">                   
                <address style="font-size: 100%">
                    <i class="fa fa-phone"></i>: +91 82123 45678<br>
                    <i class="fa fa-fax"></i>: +91 85287 65431<br>
                    <i class="fa fa-envelope"></i>:
                    <a href="mailto:wisdompages@books.net">wisdompages@books.net</a>
                </address>
            </div>
            <div class="col-12 col-sm-5">
                <div class="btn-group" role="group">
                    <a role="button" class="btn btn-primary" href="tel:+91 82123 45678"><i class="fa fa-phone"></i> Call</a>
                    <a role="button" class="btn btn-info"><i class="fa fa-skype"></i> Skype</a>
                    <a role="button" class="btn btn-success" href="mailto:wisdompages@books.net"><i class="fa fa-envelope"></i> Email</a>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="row">             
                <div class="col-4 offset-1 col-sm-2">
                    <h5>Links</h5>
                    <ul class="list-unstyled">
                        <li><a href="wisdom.html" class="text-light">Home</a></li>
                        <li><a href="aboutus.html" class="text-light">About</a></li>
                        <li><a href="#" class="text-light">Contact</a></li>
                    </ul>
                </div>
                <div class="col-7 col-sm-5">
                    <h5>You can reach us at:</h5>
                    <address>
                      <i class="fa fa-phone fa-lg"></i> +91 82123 45678<br>
                      <i class="fa fa-fax fa-lg"></i>+91 85287 65431<br>
                      <i class="fa fa-envelope fa-lg"></i><a href="mailto:wisdompages@books.net" class="text-light">wisdompages@books.net</a>
                   </address>
                </div>
                <div class="col-12 col-sm-4 align-self-center">
                    <div class="text-center">
                        <a class="btn btn-social-icon btn-facebook" href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook fa-lg"></i></a>
                        <a class="btn btn-social-icon btn-linkedin" href="http://www.linkedin.com/in/"><i class="fa fa-linkedin fa-lg"></i></a>
                        <a class="btn btn-social-icon btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter fa-lg"></i></a>
                        <a class="btn btn-social-icon btn-youtube" href="http://youtube.com/"><i class="fa fa-youtube-play fa-lg"></i></a>
                        <a class="btn btn-social-icon" href="mailto:"><i class="fa fa-envelope fa-lg"></i></a>
                    </div>
                </div>
           </div>
           <div class="row justify-content-center">             
                <div class="col-auto">
                    <p>© Copyright 2020 Wisdom Pages</p>
                </div>
           </div>
        </div>
    </footer>

    <script src="{% static 'node_modules/jquery/dist/jquery.slim.min.js' %}"></script>
    <script src="{% static 'node_modules/popper.js/dist/umd/popper.min.js' %}"></script>
    <script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.min.js' %}"></script>

</body>